{% load staticfiles %}
{% load i18n %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Instapybot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% trans "Language" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/i18n/change_language?language=es">{% trans "Spanish" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/i18n/change_language?language=en">{% trans "English" %}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% trans "My account" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/login">{% trans "Log in" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/signup">{% trans "Create account" %}</a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>